/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

small {
    padding: 0.5rem;
}

/* #endregion Common */

/* #region Body */
ul li:first-child {
    color: blue;
}



/* #endregion Body */

